html {
    height: 100%;
    width: 100%;
}

#flashdiv {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    text-align: center;
    position: fixed;
    z-index: 10000;
    visibility: hidden;
}

#flashtext {
    font-family: Tahoma;
    font-size: xx-large;
    font-style: oblique;

}

#header {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#ucanthide {
    background: #0b0b0d;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

}

#logoheader {
    position: absolute;
    top: 0px;
    width: 5%;
    z-index: 2;
    text-align: center;
}

.subtitle {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.textheader {
    position: absolute;
    z-index: 3;
    text-align: left;
    width: 50%;
    top: 45%;
    left: 17%;
    height: 30%;
}

.bigbadbold {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    margin: 5px;
    text-align: center;
    
}

.white {
    color: white;
}

.fentanyl {
    color: darkred;
    fill: none;
}

body {
    background-color: #1a1a1d;
    margin: 0px;
}

.downarrow {
    height: 96px;
    width: 96px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    z-index: 4;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
}

#maptext {
    display: flex;
    width: 70%;
    left: 0%;
    transform: translate(50%, 0);
    justify-content: center;
    z-index: 3;
    color: white;
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}

#mapbox {
    height: 70%;
    width: 70%;
    display: inline-block;
    margin-top: 12%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.defaulttext {
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    color: white;
    text-align: center;
}

.subheaders {
    font-size: 75px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin: 0px;
}
