html {
    height: 100%;
    width: 100%;
}

#flashdiv {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
    text-align: center;
    position: fixed;
    visibility: hidden;
}

#flashtext {
    font-family: 'Exo 2', sans-serif;
    font-size: 80px;
    color: white;

}


#header {
    display: flex;
    background-image: url(assets/background.jpg);
    flex-flow: column;
    background-size: cover;
    align-content: center;
    
}

#bottom {
    display: flex;
    background-image: url(assets/roullette.png);
    height: 100vh;
    flex-flow: column;
    background-size: cover;
    align-content: center;
    align-items: center;
}

.section {
    background: black;
    display: flex;
    flex-flow: column;
    padding-top: 10vh;
    padding-bottom: 10vh;


}

#headerplaceholder {
    height: 43vh;
    width: 25vw;
}

.navbar {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

#logo {
    font-size: 35px;
    color: white;
    font-family: 'Alumni Sans Inline One', sans-serif;
    text-shadow: 2px 0 #ff001b, -2px 0 #ff001b, 0 2px #ff001b, 0 -2px #ff001b,
        1px 1px #ff001b, -1px -1px #ff001b, 1px -1px #ff001b, -1px 1px #ff001b;
}

#donations {
    font-family: 'Exo 2', sans-serif;
}

.textheader {
    margin-top: 5vh;

    text-align: center;
    width: 45vw;
    align-self: flex-end;

}

.arrow {
    align-self: center;
}

.textcontainer {
    display: flex;
    flex-direction: row;
    width: 65vw;
    justify-content: end;
    margin-bottom: 5vh;
}

.coverbold {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    margin: 5px;
    text-align: center;

}

.bigbold {
    font-weight: 900;
}

.littlebold {
    font-weight: 700;
}

.white {
    color: white;
}

body {
    background-color: black;
    margin: 0px;
}

.downarrow {
    height: 96px;
    width: 96px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}


#mapbox {
    height: 80%;
    width: 80%;
    display: inline-block;
    margin-top: 2vh;
    align-self: center;
}

.headers {
    font-size: 75px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

.smallerheaders {
    font-size: 45px;
    align-self: center;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5vh;
    width: 90vw;
}

.defaulttext {
    align-self: center;
    width: 80vw;
    font-size: 25px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 2vh;
}

.pink {
    color: #c3073f;
}

#pills {
    margin-top: 10vh;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
}

.pillsplaceholder {
    width: 15vw;
}

#bottomplaceholder {
    height: 27vh;
    width: 1vh;
}

#endsaying {
    align-self: center;
    width: 60vw;
    padding-bottom: 5vh;
}

.verticalline {
    fill: grey;
    border: 1px solid grey;
    height: 30vh;
}

.pinkbright {
    color: #c3073f;
    fill: none;
    filter: brightness(1.75);
    text-shadow: #c3073f 1px 0 10px;
}

pinky {
    color: #c3073f;
    fill: none;
    filter: brightness(1.75);
    text-shadow: #c3073f 1px 0 10px;
}


#pillimgleft {
    padding-left: 5vw;
}

#pillimgright {
    padding-right: 5vw;
}

.psabutton {
	background-color:transparent;
	border-radius:28px;
	border:3px solid #c3073f;
    width: 10vw;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Exo 2', sans-serif;
	font-size:17px;
	font-weight:700;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px black;
    text-align: center;
}
.psabutton:hover {
	background-color:black;
}
.psabutton:active {
	position:relative;
	top:1px;
}
